*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background: #d4bdde;
    
}
.container{
    display: flex;
    gap: 5rem;
}
.chart{
    padding: 2rem;
    border: 1px solid #f49131;
    border-radius: 1rem;
    background: #251c35;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.8);
}